:root {
  /* either --dark-mode or --no-dark-mode */
  --color-scheme: var(--dark-mode);

  --font-family: "Fira Mono", monospace;

  --fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
  --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
  --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
  --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
  --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
  --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
  --fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);

  --clr-primary-300: #68b2a0;
  --clr-primary-400: #2c6975;
  --clr-primary-500: #04100fff;
  --clr-secondary-300: hsl(269, 75%, 55%);
  --clr-secondary-400: hsl(269, 75%, 40%);
  --clr-secondary-500: hsl(269, 75%, 25%);
  --clr-accent-300: hsl(358, 72%, 65%);
  --clr-accent-400: hsl(358, 72%, 50%);
  --clr-accent-500: hsl(358, 72%, 35%);

  /* settings */
  --no-dark-mode: light;
  --dark-mode: dark light;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Fira Mono", monospace;
  font-weight: 700;
}
body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--fs-400);
  line-height: 1.6;
  overflow-x: hidden;
  height: 100vh;
}
.primary-header {
  --_bg: hsl(0 0% 100%);
  --_logo-color: hsl(0, 0%, 5%);
  --_nav-link-color: hsl(37, 82%, 20%);

  padding: 1.5rem;
  background: var(--_bg);
  height: 12vh;
  position: sticky;
  top: 0;
}

/* for demo, probably not the best idea */
.primary-header,
.primary-header * {
  transition: 500ms;
}

.primary-header.sticking {
  --_bg: #2c6975;
  --_logo-color: #fff;
  --_nav-link-color: #fff;
}

.primary-header__inner {
  display: flex;
  justify-content: space-between;
}

.primary-header a {
  color: var(--_nav-link-color);
}

.primary-header a:hover,
.primary-header a:focus {
  opacity: 0.7;
}

.logo {
  color: var(--_logo-color);
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: clamp(0.5rem, 5vw, 2rem);
}

.wrapper {
  width: min(65rem, 100% - 2rem);
  margin-inline: auto;
}

.container {
  height: 88vh;
  border: 2px solid red;
  position: relative;
}

.mainWrapper {
  height: 100%;
}

.mainWrapper .leftSide {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid black;
}
.mainWrapper .rightSide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  border: 2px solid yellow;
}

